src/main/java/test.xsd

<?xml version="1.0" encoding="iso-8859-1"?>

<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.somedomain.com/test.xsd"
	xmlns="http://www.somedomain.com/test.xsd"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.1"
	elementFormDefault="qualified"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xml">

	<xsd:element name="test" type="testType" />

	<xsd:complexType name="testType">
		<xsd:attribute name="att" type="xsd:string" use="required" />
	</xsd:complexType>

</xsd:schema>
